.login-div{
    width: 350px;
    margin: 0 auto;
}

.login-form{
    width: 100%;
}

.login-form label,input{
    width: 100%;
    display: block;
}

.button-box{
    width: 100%;
    display: flex;
}

.button-box button{
    width: 50%;
}